<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscardor</title>
</head>
<body>
    <form action="" method="POST" role="form" class="contactFormu">
        {% csrf_token %} 
        <input type="text" name="tipof" value="" placeholder="casa,apartamento,galpón...">
        <input type="text" name="ubicacionf" value="" placeholder="casco,barrio...">
        <input type="text" name="edof" value="" placeholder="nuevo,usado...">
        <input type="submit" name="buscador" value="Buscar"></input>
    
    </form>
    {% for item in items %}
        {% if item.tipo == tipo_form and item.ubicacion == ubicacion_form %}
                <br>  
                {{ item.tipo }}
                <br>
                {{ item.ubicacion }}
                <br>
                {{ item.precio }}
                <br><br>
        {% elif item.tipo == tipo_form %}
                <br>  
                {{ item.tipo }}
                <br>
                {{ item.ubicacion }}
                <br>
                {{ item.precio }}
                <br><br> 
        
        {% endif %}
    {% endfor %}
        
    
    

</body>
</html>